:root{
  --clr-cta: #00B289;

  --clr-accent: #4C4D5F;

  --clr-bg: hsla(84, 0%, 98%, 1);
  --clr-bg-card: hsla(84, 0%, 100%, 1);
  --clr-card__border: hsla(235, 2%, 70%, 1);
  --clr-tag: #F8DB62;
  --clr-tag2: hsla(48, 56%, 47%, 1);
  --clr-fill: #E8F0F8;
  
  --clr-gray: hsla(235, 2%, 26%, .9);
};