@font-face {
  font-family: 'Gellix';
  src: '/assets/fonts/Gellix-Regular.woff2' format('woff2');
  src: '/assets/fonts/Gellix-Regular.woff' format('woff');
  src: '/assets/fonts/Gellix-Regular.ttf' format('ttf');
  src: 'assets/fonts/Gellix-Regular.eot' format('eot');
  font-display: swap;
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

