@use '../global' as *;




$green: var(--clr-cta);
$dark: var(--clr-accent);
$bg: var(--clr-bg);
$tag: var(--clr-tag);
$tag2: var(--clr-tag2);
$fill: var(--clr-fill);
$card: var(--clr-bg-card);
$card2: var(--clr-card__border);
$gray: var(--clr-gray);